@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "DM Sans", sans-serif;
  color: #f4fbff;
  background: #020a10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;

  margin: 0;
  padding: 0;

  scroll-behavior: smooth;

  /* SCROLL ENABLED */
  overflow-x: hidden;
  overflow-y: auto;

  /* HIDE SCROLLBAR */
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  background: #020a10;

  /* SCROLL ENABLED */
  overflow-x: hidden;
  overflow-y: auto;

  /* HIDE SCROLLBAR */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;
}